/* .table tbody {
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 420px) !important;
} */

/* tbody {
    display:block;
    height: calc(100vh - 420px) !important;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}
table {
    width:100%;
} */