<div class="loaders">
	<div class="loader">
	  <div id="resort"></div>
	  <span class="text-center txt-loader">Carregando</span>
	</div>
</div>

<app-header></app-header>

<main class="caldas kids">
  <section class="title-interno wow fadeIn">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h2 class="title-interno">Área Kids</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section title-interno -->

  <section class="slider-100 wow fadeIn">
    <div class="container">
      <div class="row text-center">
        <div class="offset-xl-1 col-xl-10 offset-lg-1 col-lg-10 offset-md-1 col-md-10">
          <h2 class="title-brinquedo">Um espaço dedicado a criançada!</h2>
          <p class="description-brinquedo">
            Chegou a hora de se divertir colorindo o nosso mascote oficial, o LÉOZINHO.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- end section title -->

  <section class="slider-100">
    <div class="container">
      <div class="row text-center">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 wow fadeInUp">
          <img src="assets/images/leo-pb-boia-colorir.png" class="img-fluid" alt="leozinho na boia para colorir">
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 text-left wow slideInRight">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-5 col-5">
              <h3 class="name-image">Léozinho na Bóia</h3>
              <a id="btn-leo-boia" class="title-impressao">
                Para Você<br>
                <b>Colorir</b>
              </a>
              <h4 class="opcao">faça o download</h4>
              <a [routerLink]="'/assets/pdf/leo-boia.pdf'" target="_blank" class="download">Baixar</a>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-7 col-7">
              <img src="assets/images/leo-color-boia.png" class="img-fluid leo-original" alt="leozinho na boia cor original">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section leo -->

  <section class="slider-100">
    <div class="container">
      <div class="row text-center">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 text-left wow slideInRight">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-5 col-5">
              <h3 class="name-image">Léozinho no Surf</h3>
              <a id="btn-leo-surf" class="title-impressao">
                Para Você<br>
                <b>Colorir</b>
              </a>
              <h4 class="opcao">faça o download</h4>
              <a [routerLink]="'/assets/pdf/leo-surf.pdf'" target="_blank" class="download">Baixar</a>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-7 col-7">
              <img src="assets/images/leo-color-surf.png" class="img-fluid leo-original" alt="leozinho surfando cor original">
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 wow slideInLeft">
          <img src="assets/images/leo-pb-surf-colorir.png" class="img-fluid" alt="leozinho surfando para colorir">
        </div>
      </div>
    </div>
  </section>
  <!-- end section leo -->

  <section class="slider-100">
    <div class="container">
      <div class="row text-center">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 wow slideInLeft">
          <img src="assets/images/leo-pb-colorir.png" class="img-fluid" alt="leozinho para colorir">
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 text-left wow slideInLeft">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-5 col-5">
              <h3 class="name-image">Léozinho</h3>
              <a id="btn-leo" class="title-impressao">
                Para Você<br>
                <b>Colorir</b>
              </a>
              <h4 class="opcao">faça o download</h4>
              <a [routerLink]="'/assets/pdf/leo.pdf'" target="_blank" class="download">Baixar</a>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-7 col-7">
              <img src="assets/images/leo-color.png" class="img-fluid leo-original" alt="leozinho cor original">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section leo -->

  <section class="obrigado wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8">
          <img src="assets/images/leo-obrigado.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>